---
pre: Quinn Michaels
title: Quinn's Singing Bowl Studio
subtitle: Welcome to Quinn's Singing Bowl Studio
describe: Immerse yourself in the soothing sounds of crystal and Tibetan singing bowls. Quinn Michaels offers an experience designed to promote relaxation, meditation, and healing. Discover the transformative power of sound therapy and explore our blog for insightful meditation practices.
tweet: Immerse yourself in the soothing sounds of crystal and Tibetan singing bowls. Quinn Michaels offers an experience designed to promote relaxation, meditation, and healing
hashtags: QuinnMichaels,SingingBowls,Meditation,SingingBowlStudio
image: /assets/img/headers/001-temple.jpg
color: var(--color-white)
video: 6bMVkcFSDVM
---
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{page.pre}} - {{page.title}}</title>

  <meta name="description" content="{{page.describe}}"/>

  <meta property="og:site_name" content="{{page.name}}">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.describe}}">
  <meta name="og:image" content="{{site.url}}{{page.image}}">
  <meta property="og:url" content="{{site.url}}{{page.url}}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="{{page.describe}}">
  <meta name="twitter:creator" content="@{{page.name}}">
  <meta name="twitter:site" content="@{{page.name}}">
  <meta name="twitter:image" content="{{site.url}}{{page.image}}">
  <meta name="twitter:description" content="{{page.describe}}">

  <link rel="stylesheet" href="https://use.typekit.net/dds5scw.css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
  <header>
    {% include nav.html %}
    <div class="hero" style="--header-bg: url({{page.image}}); --header-color: {{page.color}};">
      <h1>{{page.title}}</h1>
      <p>{{page.subtitle}}</p>
    </div>
  </header>

	<main>
    <h1>{{page.title}}</h1>
    <p class="describe">{{page.describe}}</p>

    {% include videoplayer.html id="hMzQTWdWakY" %}

    {% include soundcloud.html %}

    <section class="features">
      {% for nav in site.data.nav %}
        <article class="feature {{nav.key}}">
          <h2><a href="{{nav.link}}">{{nav.name}}</a></h2>
          <p>{{nav.describe}} <a href="{{nav.link}}"><i class="icn-arrow-right"></i></a></p>
        </article>
      {% endfor %}
    </section>

    <hr class="divider">

    <h2>Quinn's Blog</h2>
    <p><a href="/blog/">More Blog Posts <i class="icn-arrow-right"></i></a></p>
    <section class="posts">
      {% for post in site.posts limit:5 %}
        <article class="post">
          <h3><a href="{{post.url}}">{{post.title}}</a></h3>
          <div class="published">{{post.date | date: "%B %d, %Y"}}</div>
          {{post.excerpt}}
        </article>
      {% endfor %}
    </section>

    <hr class="divider">

    <h2>Singing Bowls</h2>
    <p><a href="/bowls/">More Singing Bowls <i class="icn-arrow-right"></i></a></p>
    <section class="bowls">
      {% for bowl in site.data.bowls limit:3 %}
        <article class="bowl">
          <div class="thumbnail"><a href="{{bowl.url}}"><img src="{{ bowl.thumbnail }}" alt=""></a></div>
          <div class="info">
            <h2><a href="{{bowl.url}}">{{bowl.name}}</a></h2>
            <div class="type"><span class="label">type:</span>{{bowl.type}}</div>
            <div class="note"><span class="label">note:</span> {{bowl.note}}</div>
          </div>
        </article>
      {% endfor %}
    </section>

    <hr class="divider">

    {% include share.html %}

  </main>
  {% include footer.html %}

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>
