---
permalink: /
pre: Quinn Michaels
title: Quinn's Singing Bowl Studio
subtitle: Welcome to Quinn's Singing Bowl Studio
describe: Quinn Michaels offers Quinn's Singing Bowl Studio where you can immerse yourself in the soothing sounds of crystal and Tibetan singing bowls while enjoying a unique art experience. Quinn Michaels offers an experience designed to spark your creativity and ignite your imagination.
tweet: Quinn's Singing Bowl Studio where you can immerse yourself in the sounds of Tibetan and crystal singing bowls while enjoying a unique art experience.
hashtags: QuinnMichaels,QuinnSingingBowlStudio,SingingBowls,Meditation,Art
image: /assets/img/headers/001-temple.jpg
color: var(--color-white)
video: xb_NMR1QMWU
---
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{page.pre}} - {{page.title}}</title>

  <meta name="description" content="{{page.describe}}"/>

  <meta property="og:site_name" content="{{page.name}}">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.describe}}">
  <meta name="og:image" content="{{site.url}}{{page.image}}">
  <meta property="og:url" content="{{site.url}}{{page.url}}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="{{page.describe}}">
  <meta name="twitter:creator" content="@{{page.name}}">
  <meta name="twitter:site" content="@{{page.name}}">
  <meta name="twitter:image" content="{{site.url}}{{page.image}}">
  <meta name="twitter:description" content="{{page.describe}}">

  <link rel="stylesheet" href="https://use.typekit.net/dds5scw.css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
  <header>
    {% include nav.html %}
    <div class="hero" style="--header-bg: url({{page.image}}); --header-color: {{page.color}};">
      <h1>{{page.title}}</h1>
      <p>{{page.subtitle}}</p>
    </div>
  </header>

  {% include share.html format="inline" %}

	<main>
    <p class="describe">{{page.describe}}</p>

    {% include videoplayer.html id="xb_NMR1QMWU" %}

    <section class="features">
      {% for nav in site.data.nav %}
        <article class="feature {{nav.key}}">
          <h2><a href="{{nav.link}}">{{nav.name}}</a></h2>
          <p>{{nav.describe}} <a href="{{nav.link}}"><i class="icn-arrow-right"></i></a></p>
        </article>
      {% endfor %}
    </section>

    <hr class="divider">

    <h2>Bowls</h2>
    <p><a href="/bowls/">More Singing Bowls <i class="icn-arrow-right"></i></a></p>
    <section class="bowls">
      {% for bowl in site.bowls limit:6 %}
        <article class="bowl">
          <div class="thumbnail"><a href="{{bowl.url}}"><img src="{{ bowl.thumbnail }}" alt=""></a></div>
          <div class="title"><a href="{{bowl.url}}">{{bowl.title}}</a></div>
        </article>
      {% endfor %}
    </section>

    <hr class="divider">

    <h2>Videos</h2>
    <p><a href="/videos/">More Videos <i class="icn-arrow-right"></i></a></p>
    <section class="videos">
      {% assign sort_videos = site.videos | reverse %}
      {% for video in sort_videos limit:6 %}
        <article class="video">
          <div class="thumbnail"><a href="{{video.url}}"><img src="{{video.thumbnail}}" alt="{{video.title}}"></a></div>
          <div class="title"><a href="{{video.url}}">{{bowl.title}}</a></div>
        </article>
      {% endfor %}
    </section>

    <hr class="divider">

    <h2>Blog</h2>
    <p><a href="/blog/">More Blog Posts <i class="icn-arrow-right"></i></a></p>
    <section class="posts">
      {% for post in site.posts limit:5 %}
        <article class="post">
          <h3><a href="{{post.url}}">{{post.title}}</a></h3>
          <div class="published">{{post.date | date: "%B %d, %Y"}}</div>
          {{post.excerpt}}
        </article>
      {% endfor %}
    </section>

    <hr class="divider">

    <h2>Sounds</h2>

    {% include soundcloud.html %}

  </main>
  {% include footer.html %}

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>
