.art
  display: flex
  flex-flow: row wrap
  gap: 1px

  .artwork
    .thumbnail
      max-width: 256px
      a
        img
          border-radius: .5rem
          box-shadow: 0 3px 5px rgba($colors.black, .5)
    .title
      text-align: center
    .image
      padding: .5rem 0
