.bowls
  display: flex
  flex-flow: row wrap
  margin: 0
  padding: 0
  gap: .25rem
  .bowl
    margin: 0
    padding: 0
    display: flex
    flex-flow: column nowrap
    flex: 1 33%
    .thumbnail
      text-align: center
      img
        max-width: 256px
        min-width: 256px
        margin: .25rem
        border-radius: .5rem
    .title
      font-size: 1rem
      line-height: 1
      margin: 0
      padding: .25rem
      font-weight: bold
      text-align: center

section.types
  display: flex
  flex-flow: column
  gap: 1px
  padding: 0
  color: $colors.darkest-grey
  .type
    flex: 1
    padding: .5rem 0
    color: $colors.white
    border-bottom: 2px solid $colors.light-grey
    h3
      padding: 0
      margin: 0
      color: $colors.darkest-grey
    p
      padding: 0
      margin: 0
      color: $colors.darkest-grey
