.home
  max-width: $page.home
  @media screen and (max-width: 600px)
    margin: 0 .5rem
    padding: 0
  .videos
    .video
      flex-flow: column nowrap
      flex: 1
      .title
        text-align: center

  .features
    display: flex
    flex-flow: row wrap
    gap: .25rem
    margin-top: .25rem
    .feature
      background-color: $colors.grey
      min-width: 15rem
      min-height: 15rem
      flex: 1
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      box-shadow: 0 3px 5px rgba($colors.black,.5)
      color: $colors.white
      display: flex
      flex-flow: column nowrap
      overflow: hidden
      h2
        text-align: center
        margin: 0
        padding: 0
        background-color: rgba($colors.black, .75)
        font-weight: normal
        font-size: 2rem
        a
          display: block
          padding: .5rem 0
      p
        flex: 1
        margin: 0
        padding: 1rem 1.5rem
        background-color: rgba($colors.black, .5)
        font-size: 1.5rem
