@import "root"
@import "icons"
@import "buttons"
@import "global"
@import "header"
@import "footer"
@import "menu"
@import "posts"
@import "widget"
@import "monokai"

main
  margin: 0 auto
  max-width: $page.width
  padding: 0
  display: flex
  flex-flow: column
  flex: 1
  padding: 0 1rem
  img
    max-width: 100%

  @media screen and (max-width: 600px)
    margin: 0 1rem


.page
  max-width: $page.width - 200

.air
.wind
  color: $colors.white

.thought
.srotriya
  color: $colors.purple

.deed
.brahman
.dear
  color: $colors.orange

.divine
.earth
.vaisya
.envy
  color: $colors.green

.goodness
.water
  color: $colors.baby-blue

.passion
.word
.ether
.space
.kshatriya
.thinking
  color: $colors.yellow

.ignorance
.demonic
.fire
.sudra
.desire
  color: $colors.red

$x = {
  size: 20px
}

.share
  display: flex
  justify-content: center
  .quote
    flex: 1
    line-height: .9
    padding: 1rem
    font-size: 2rem
    color: $colors.grey
    padding: 2rem 2rem 1rem 2rem
  .buttons
    display: flex
    flex-flow: row nowrap
    align-items: center
    .x
      font-size: 1rem
      background-color: $colors.black
      padding: .5rem 1rem
      display: flex
      align-items: center
      &::before
        display: inline-block
        width: $x.size
        height: $x.size
        content: " "
        margin-right: .5rem
        background-image: url(/assets/img/x-logo/logo-small-white.png)
        background-repeat: no-repeat
        background-size: 100% auto

.algo-props
  display: flex
  flex-flow: row nowrap
  list-style: none
  margin: 0
  padding: 0
  li
    padding: .5rem
    display: flex
    flex-flow: column nowrap
    .emoji
      align-self: center
      font-size: 3.5rem
    .title
      text-transform: capitalize
      font-size: 1.25rem
      font-weight: bold


.share
  display: flex
  flex-flow: row nowrap
  gap: .25rem
  background-color: rgba(0,0,0,.5)
  padding: .25rem .5rem
  a
    margin: 0 .5rem

.videos
  display: flex
  list-style: none
  flex-flow: row wrap

  .video
    margin: 1rem 0
    padding: 1rem
    display: flex
    flex-flow: row nowrap
    gap: .5rem
    .thumbnail
      img
        max-width: 300px
    .info
      .title
        font-size: 1.5rem
        line-height: 1
      .published
        font-size: .9rem
        font-weight: bold
      .describe
        font-size: 1rem
        margin: .5rem 0 0 0

.features
  display: flex
  flex-flow: row wrap
  gap: .5rem
  padding: .5rem
  .feature
    background-color: $colors.grey
    min-width: 20rem
    min-height: 15rem
    flex: 1
    background-position: center center
    background-repeat: no-repeat
    border-radius: 1rem
    box-shadow: 0 3px 5px rgba($colors.black,.5)
    color: $colors.white
    display: flex
    flex-flow: column nowrap
    overflow: hidden
    h2
      text-align: center
      margin: 0
      padding: 1rem 0 0 0
      background-color: rgba($colors.black, .75)
      font-weight: normal
    p
      flex: 1
      margin: 0
      padding: 0 1rem
      background-color: rgba($colors.black, .5)
    &.bowls
      background-image: url(/assets/img/headers/002-thumb.jpg)

    &.blog
      background-image: url(/assets/img/headers/003-thumb.jpg)

    &.videos
      background-image: url(/assets/img/headers/004-thumb.jpg)

    &.about
      background-image: url(/assets/img/headers/005-thumb.jpg)
