@import "root"
@import "icons"
@import "buttons"
@import "global"
@import "header"
@import "footer"
@import "menu"
@import "posts"
@import "widget"
@import "monokai"

main
  margin: 0 auto
  max-width: $page.width
  padding: 0
  display: flex
  flex-flow: column
  flex: 1
  padding: 0 1rem
  img
    max-width: 100%

  @media screen and (max-width: 600px)
    margin: 0 1rem


.page
  max-width: $page.width - 200

.air
.wind
  color: $colors.white

.thought
.srotriya
  color: $colors.purple

.deed
.brahman
.dear
  color: $colors.orange

.divine
.earth
.vaisya
.envy
  color: $colors.green

.goodness
.water
  color: $colors.baby-blue

.passion
.word
.ether
.space
.kshatriya
.thinking
  color: $colors.yellow

.ignorance
.demonic
.fire
.sudra
.desire
  color: $colors.red

.algo-props
  display: flex
  flex-flow: row nowrap
  list-style: none
  margin: 0
  padding: 0
  li
    padding: .5rem
    display: flex
    flex-flow: column nowrap
    .emoji
      align-self: center
      font-size: 3.5rem
    .title
      text-transform: capitalize
      font-size: 1.25rem
      font-weight: bold


.offerings
  max-width: 500px
  margin: auto
  text-align: center
  p
    font-size: 1rem
    padding: 1rem
    margin: 0
  ul
    display: flex
    list-style: none
    justify-content: center
    margin: 0
    padding: 0
    gap: .5rem
    li
      a
        img
          max-width: 200px
          max-height: 45px

.share
  display: flex
  flex-flow: row nowrap
  gap: .25rem
  padding: .75rem 1rem
  margin: 1rem
  justify-content: center
  align-items: center
  align-self: center
  border-radius: 1rem
  box-shadow: 0 3px 5px rgba($colors.black, .25)
  background-color: rgba($colors.black, .25)
  .label
    max-width: 200px
  a
    margin: 0 .25rem
    img
      height: 72px

.videos
  display: flex
  list-style: none
  flex-flow: row wrap
  margin: 0
  padding: 0
  li
    margin: 0
    padding: 0
    .video
      margin: 1rem 0
      padding: 1rem
      display: flex
      flex-flow: row nowrap
      gap: 1rem
      .thumbnail
        img
          max-width: 256px
          min-width: 256px
          border-radius: .5rem
          box-shadow: 0 3px 5px rgba($colors.black, .5)
      .info
        h2
          font-size: 1.75rem
          line-height: 1
          font-weight: bold
        p
          font-size: 1rem
          margin: .5rem 0 0 0
        .published
          font-size: .9rem
          font-weight: bold

.bowls
  display: flex
  flex-flow: row wrap
  margin: 0
  padding: 0
  .bowl
    margin: .5rem 0
    display: flex
    flex-flow: column nowrap
    gap: 1rem
    flex: 1
    .thumbnail
      img
        max-width: 256px
        min-width: 256px
        border-radius: 1rem
        box-shadow: 0 3px 5px rgba($colors.black, .5)
    .info
      h2
        font-size: 1.5rem
        line-height: 1
        margin: 0
        padding: 0
        line-height: 1
        font-weight: bold
      p
        font-size: 1rem
        margin: .5rem 0 0 0
      .published
        font-size: .9rem
        font-weight: bold

.features
  display: flex
  flex-flow: row wrap
  gap: .5rem
  padding: .5rem
  .feature
    background-color: $colors.grey
    min-width: 20rem
    min-height: 15rem
    flex: 1
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    border-radius: 1rem
    box-shadow: 0 3px 5px rgba($colors.black,.5)
    color: $colors.white
    display: flex
    flex-flow: column nowrap
    overflow: hidden
    h2
      text-align: center
      margin: 0
      padding: 1rem 0 0 0
      background-color: rgba($colors.black, .75)
      font-weight: normal
      font-size: 2rem
    p
      flex: 1
      margin: 0
      padding: 1rem 1.5rem
      background-color: rgba($colors.black, .5)
      font-size: 1.5rem

    &.bowls
      background-image: url(/assets/img/headers/002-thumb.jpg)

    &.blog
      background-image: url(/assets/img/headers/003-thumb.jpg)

    &.videos
      background-image: url(/assets/img/headers/004-thumb.jpg)

    &.about
      background-image: url(/assets/img/headers/005-thumb.jpg)

    &.contact
      background-image: url(/assets/img/headers/006-thumb.jpg)

    &.offerings
      background-image: url(/assets/img/headers/offerings-thumb.jpg)

section.types
  display: flex
  flex-flow: row wrap
  gap: .5rem
  padding: .5rem
  .type
    flex: 1
    min-width: 30%
    border-radius: 1rem
    box-shadow: 0 3px 5px rgba($colors.black, .5)
    background-color: rgba($colors.black, .75)
    padding: .5rem
    color: $colors.white
    h3
      text-align: center
      padding: 0
      margin: 0
    p
      padding: 0 1rem
      margin: 0
hr.divider
  height: 10px
  background-color: black
  border: none
  margin: 2rem 0

#VideoViewer
  display: none
  visibility: hidden
  opacity: 0
  background-color: $colors.black
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  padding: 2rem
  &.open
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    visibility: visible
    opacity: 1
    overflow: hidden

    .close-button
      position: absolute
      top: .5rem
      right: .5rem
      color: $colors.white
      font-size: 3rem

.videowrapper
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem
    box-shadow: 0 3px 5px rgba($colors.black, .5)

.hidden
  display: none
  visibility: hidden
