@import "root"
@import "icons"
@import "buttons"
@import "global"
@import "header"
@import "footer"
@import "menu"
@import "bowls"
@import "blog"
@import "videos"
@import "art"
@import "home"
@import "monokai"

main
  margin: 0 auto
  max-width: $page.main
  padding: 0
  display: flex
  flex-flow: column
  flex: 1
  padding: 0 1rem
  img
    max-width: 100%

  @media screen and (max-width: 600px)
    margin: 0 1rem


.page
  max-width: $page.main

.air
.wind
  color: $colors.white

.thought
.srotriya
  color: $colors.purple

.deed
.brahman
.dear
  color: $colors.orange

.divine
.earth
.vaisya
.envy
  color: $colors.green

.goodness
.water
  color: $colors.baby-blue

.passion
.word
.ether
.space
.kshatriya
.thinking
  color: $colors.yellow

.ignorance
.demonic
.fire
.sudra
.desire
  color: $colors.red

.algo-props
  display: flex
  flex-flow: row nowrap
  list-style: none
  margin: 0
  padding: 0
  li
    padding: .5rem
    display: flex
    flex-flow: column nowrap
    .emoji
      align-self: center
      font-size: 3.5rem
    .title
      text-transform: capitalize
      font-size: 1.25rem
      font-weight: bold



hr.divider
  height: 10px
  background-color: black
  border: none
  margin: 2rem 0


.hidden
  display: none
  visibility: hidden
