<section class="share">
  <div class="label">Share:</div>
  <div class="x"><a href="https://twitter.com/intent/tweet?hashtags={{page.hashtags}}&url={{site.url}}{{page.url}}&via=quinnmichaels&text={{page.tweet}}" target="share">Twitter/X</a></div>
  <div class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="share">Facebook</a></div>
  <div class="linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}" target="share">LinkedIn</a></div>
</section>
