<section class="share">
  <div class="label">Help support Quinn's Singing Bowl Studio by sharing this page on social media.</div>
  <div class="x"><a href="https://twitter.com/intent/tweet?hashtags={{page.hashtags}}&url={{site.url}}{{page.url}}&via=quinnmichaels&text={{page.tweet}}" target="share"><img src="/assets/img/share/x.png" alt=""></a></div>
  <div class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="share"><img src="/assets/img/share/facebook.png" alt=""></a></div>
  <div class="linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}" target="share"><img src="/assets/img/share/linkedin.png" alt=""></a></div>
</section>

<section class="offerings">
  <p>Quinn's Singing Bowl Studio is supported by gifts and offerings from our community. If you enjoy this content please consider making a fair Paypal offering and/or joining the Patreon community.</p>
  <ul>
    <li><a href="https://paypal.me/rahulaclub" target="offerings"><img src="/assets/img/share/paypal.png" alt=""></a></li>
    <li><a href="https://patreon.com/rahulaclub" target="offerings"><img src="/assets/img/share/patreon.png" alt=""></a></li>
  </ul>
</section>
