<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{page.pre}} - {{page.title}}</title>

    <meta name="description" content="{{page.describe}}"/>

    <meta property="og:site_name" content="{{page.name}}">
    <meta property="og:title" content="{{page.pre}} - {{page.title}}">
    <meta property="og:description" content="{{page.describe}}">
    <meta property="og:image" content="{{site.url}}{{page.image}}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{page.describe}}">
    <meta name="twitter:creator" content="@{{page.name}}">
    <meta name="twitter:site" content="@{{page.name}}">
    <meta name="twitter:image" content="{{site.url}}{{page.image}}">
    <meta name="twitter:description" content="{{page.describe}}">

    <link rel="stylesheet" href="https://use.typekit.net/dds5scw.css">
  	<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header style="--header-bg: url({{page.header}}); --header-color: {{page.color}};">
      {% include nav.html %}
      <div class="hero">
        <h1>{{page.title}}</h1>
        <p>{{page.subtitle}}</p>
      </div>
    </header>

    {% include share.html format="inline" %}

    <main class="page">
      <p>{{page.describe}}</p>

      <section class="content">
        {{content}}
      </section>

    </main>

    {% include footer.html %}

  </body>
</html>
