<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    <header style="--header-bg: url({{page.header}}); --header-color: {{page.color}};">
      {% include nav.html %}
      <div class="hero small">
        <h1>{{page.title}}</h1>
        <p>{{page.subtitle}}</p>
      </div>
    </header>

    {% include share.html format="inline" %}

    <main>
      <h1>{{page.title}}</h1>
      <section class="post">
        <article class="meta">
          <div class="author"><strong>author:</strong> {{page.author}}</div>
          <div class="date"><strong>date:</strong> {{page.date | date: "%B %d, %Y"}}</div>
          <div class="date"><strong>updated:</strong> {{page.updated | date: "%B %d, %Y - %l:%M %p"}}</div>
          <div class="tags">
            <strong>tags:</strong>
            {% for tag in page.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
          <div class="categories"><strong>categories:</strong>
            {% for category in page.categories %}
              <span class="category">{{ category }}</span>
            {% endfor %}
          </div>
        </article>
        <article class="content">
          {{content}}
        </article>
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
