<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    <header style="--header-bg: url({{page.header}}); --header-color: {{page.color}};">
      {% include nav.html %}
      <div class="hero small">
        <h1>{{page.title}}</h1>
        <p>{{page.subtitle}}</p>
      </div>
    </header>

    {% include share.html format="inline" %}

    <main>
      <h2>{{page.title}}</h2>
      <section class="video">
        <p>{{page.describe}}</p>

        <article class="content">
          {{content}}
        </article>
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
